<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/css/login.css" />
	</head>
	<body>
		<div class="login-page">
			<h1>Comment System Login</h1>
			<div class='login-main'>
				<form id="login_form" action="/login" method="post" >
					<div class='login-content'>
							<label for="username">Your Username</label>
							<input id="username" name="username" type="text" />	
							<label for="password">Your Password</label>
							<span class='forgot'><a href="">Forgot password?</a></span>
							<input id="password" name="password" type="password" />	
						<button type="submit">Sign in</button>
					</div>
				</form>
			</div>
			<div class='to-register'>New to this? <a href="/register">Create an account.</a></div>
		</div>
		
	</body>
	<script src='/node_modules/jquery/dist/jquery.js'></script>
	<script src='/public/js/login.js'></script>
</html>
