<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/public/css/reset.css" />
		<link rel="stylesheet" href="/public/css/register.css" />
	</head>
	<body>
		<div class="register-page">
			<h1>Comment System Register</h1>
			<div class='register-main'>
				<form id="register_form" method="post" action="/register">
					<div class='register-content'>
							<label for="username">Username</label>
							<input id="username" name="username" type="text" />	
							<label for="email">Email</label>
							<input id="email" name="email" type="text" />	
							<label for="password">Password</label>
							<input id="password" name="password" type="password" />	
							<label for="confirm-password">Confirm password</label>
							<input id="confirm-password" type="password" />	
						<button type='submit'>Create an account</button>
					</div>
				</form>
			</div>
			<div class='to-login'>Have an account? <a href="/login">Login now</a></div>
		</div>
		
	</body>
	<script src='/node_modules/jquery/dist/jquery.js'></script>
	<script src='/public/js/register.js'></script>
</html>
