<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/css/register.css" />
	</head>
	<body>
		<div class="register-page">
			<h1>Comment System Register</h1>
			<div class='register-main'>
				<form action="#">
					<div class='register-content'>
							<label for="username">Username</label>
							<input id="username" type="text" />	
							<label for="email">Email</label>
							<input id="email" type="mail" />	
							<label for="password">Password</label>
							<input id="password" type="password" />	
							<label for="confirm-password">Confirm password</label>
							<input id="confirm-password" type="password" />	
						<button>Create an account</button>
					</div>
				</form>
			</div>
			<div class='to-login'>Have an account? <a href="/login">Login now</a></div>
		</div>
		
	</body>
	<script src='../public/js/login.js'></script>
</html>
